<div class="row container">
  <div class="col-lg-6 col-md-6 col-sm-6 mt-5">
    <h2 class="text-center mb-3">Account Statement</h2>
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <button type="button" class="btn btn-outline-primary">All</button>
      <button type="button" class="btn btn-outline-primary">Debit</button>
      <button type="button" class="btn btn-outline-primary">Credit</button>
    </div>
    <table class="table mt-4">
      <thead>
        <tr>
          <th class="table-primary" scope="col">#</th>
          <th class="table-primary" scope="col">Type</th>
          <th class="table-primary" scope="col">Amount</th>
          <th class="table-primary" scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td> -->
        </tr>
        <tr>
          <!-- <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td> -->
        </tr>
        <tr>
          <!-- <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td> -->
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <img style="width: 100%;" class="img-fluid ps-5 mt-5" src="https://i.postimg.cc/vTr3H4zc/pngwing-com-3.png" alt="">
  </div>
</div>
