<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

<div  style="background-color: rgb(255, 255, 255); "  class="d-flex justify-content-center">
  <div id="maindiv " style="height: 530px; background-color: 	#36657acc; border-radius: 3%;" class="text-center p-1 m-2 border col-lg-4 col-md-4 col-sm-4">
      <h1 style="color: white;" class="fw-bold">Register</h1>
      <div>
        <img style="width: 50%;" class="img-fluid my-auto " src="https://i.postimg.cc/Rh63Jx4W/online-banking-finance-icon-white-bank-building-3d212784a06f770e32f3aaadbe4f2259.png" alt="">
      </div>
          <div class="p-2">
              <input id="u1" class="form-control w-75 container" type="text" placeholder="Enter Account number">
          </div>
          <div class="mt-1 p-2">
              <input class="form-control w-75 container" type="text" placeholder="User name">
          </div>
          <div class="mt-1 p-2">
            <input class="form-control w-75 container" type="password" placeholder="Password">
        </div>
        <div class="mt-1 p-2">
          <input class="form-control w-75 container" type="password" placeholder="Confirm password">
      </div>
          <div class=" p-2">
              <button style="background-color: 	#bbbbbb;" class=" btn1 w-50">SignUp</button>
          </div>


  </div>

</div>
